p{
    text-align: center; 
    color : whitesmoke;
    font-size : 15px;
}
.rectangle{
    width:100px;
    height:100px; 
    margin:10px;
    display: inline-block;
}
.rectangle p{
   display: none;}

.rectangle.display p{
    display: block;
   
}
.rectangle.skyblue{
    background-color:skyblue
}

.rectangle.red{
    background-color:red
}

.rectangle.blue{
    background-color:blue
}


.rectangle.green{
    background-color:green
}
.rectangle.grey{
    background-color:grey
}

.loseSet{
    margin: 20px;
}

.resultVal.display {
    display: block;
}

